

{% extends 'base.html' %}
{% load static%}
{% load extra_tags %}

{% load humanize %}



{% block css %}
<link rel="stylesheet" href="{% static 'Category/css/show_product.css'%}">

<title>کالاها </title>

<style>

   
</style>    


{% endblock %}
{% block body %}








<div id="product" class="row px-xl-5 pb-3">
    <div class="justify-content-end d-flex col-12 pb-1">
        <div class=" d-flex align-items-end justify-content-between mb-4">
           
            {% if page_type != 'text_search'%}
            <div class="dropdown ml-4 text-right">
                <button dir="rtl" class="btn border dropdown-toggle" style="padding: 13px;" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{search_name_product}}
                </button>
                <div class="dropdown-menu dropdown-menu-right text-right" aria-labelledby="triggerId">
                    {% if page_type == 'type_search' %}
                {% for product in lst_product %}
                    <a class="dropdown-item" onclick="product_search(this)" data-name="{{product}}" data-slug="{{type_slug_select}}" data-category="{{category_slug}}">
                        {{product}}</a>
                {% endfor %}
                {% else %}
                {% for type in lst_product %}
                <a class="dropdown-item" href="{{type.get_absoulut_url}}">{{type.name}}</a>
            {% endfor %}
                {% endif %}
                </div>
            </div>
            {% endif %}
            
            <div class="dropdown ml-4 text-right">
                
                <select  id="order_value" class="btn border dropdown-toggle order" name="category_option" onchange="oreder_change(value)"  style="height:55px ; direction: rtl; margin:0 10px ; padding: 0 20px; " >
                        <option value="{{order}}">فیلتر بر اساس</option>
                        <option data-id="-all_price" id="category" value="-all_price" >گرانترین</option>
                        <option data-id="all_price" id="category" value="all_price" >ارزانترین</option>
                        <option data-id="all_price" id="category" value="-created" >جدیدترین</option>
                        <option data-id="all_price" id="category" value="-like_count" >بیشترین لایک</option>

                        


                
                
                    
                </select>
            </div>
        </div>
    </div>
        {% for product in products %}
        <div class="m-3 mx-auto">
            <div style="width: 100%; height: 400px;" class="card product-item  mb-4 item">
                <div class="card-header h-100 product-img  position-relative overflow-hidden bg-transparent">
                {% for img in product.image_to_product.all %}
                    {% if forloop.first %}
                    <a href="{{product.get_absoulut_url}}">
                        <img class="img-fluid " style="height: 100%; width: 200px;" src="{{img.image.url}}" alt="">
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-5">
                    <h4 class="text-truncate pb-2">{{product.name}}</h4>
                    <div class="d-flex justify-content-center">
                        
                            {% if product.special %}
                            <h6>{{product.off_price|intcomma|persianize_digits}}</h6><h6 class="text-muted ml-2"></h6>
                            <del>{{product.all_price|intcomma|persianize_digits}}</del>
                            {% else %}
                            <h6>{{product.all_price|intcomma|persianize_digits}}</h6><h6 class="text-muted ml-2"></h6>
                            {% endif %}


                        </h6>
                    </div>
                </div>
                <div class="card-footer card-btn d-flex justify-content-between bg-light border">
                    <a href="{{product.get_absoulut_url}}" class="btn btn-sm text-dark p-0 "><i class="fas fa-eye text-primary mr-1"></i>جزییات</a>
                   <i style="cursor: pointer; margin-right:25px;" onclick="like_product(this,'home')" data-id_product="{{product.id}}" data-status="{% if request.user in product.like.all %}dislike{% else %}like{% endif %}"
                    class="fas fa-heart {% if request.user in product.like.all %}text-danger{% endif %}  ml-4"><a class="ml-2" id="likecounter{{product.id}}"></a></i>
                   
                    <a onclick="add_product(this,'home')" data-id="{{product.id}}" data-status="{% if product.id in buys %}sell{% else %}buy{% endif %}"  class="btn btn-sm {% if product.id in buys %}text-danger{% endif %} p-0"><i class="fas fa-shopping-cart  mr-1"></i> </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

    <div class="col-12 pb-1 text-center">
        
        


        <nav style="display: inline-block;box-shadow: none;" aria-label="Page navigation example">
            <ul class="pagination">
                {% if products.has_previous %}
              <li class="page-item p-2"><a class="page-link" href="?page=1">اول</a></li>

              <li class="page-item p-2"><a class="page-link" href="?page={{ products.previous_page_number }}">{{ products.previous_page_number }}</a></li>
              {% endif %}
             
              <li class="page-item p-2 {% if p == p %} active {% endif %} "><a class="page-link " data-num="{{p}}" onclick="page_change(this)">{{p}}</a></li>
              {% if products.has_next %}
              <li class="page-item p-2"><a class="page-link"  data-num="{{ products.next_page_number }}" onclick="page_change(this)">{{ products.next_page_number }}</a></li>
                {% for num in products.paginator %}
                    {% if forloop.last %}
                        <li class="page-item p-2"><a class="page-link"  data-num="{{num.number}}" onclick="page_change(this)">آخر</a></li>

                    {% endif%}
                {% endfor %}

              {% endif %}
             
             
           
            </ul>
          </nav>
    </div>
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>



<script src="{% static 'Category/js/category_search.js'%}"></script>
<script src="{% static 'Category/js/main.js'%}"></script>

{% endblock %}