
{% extends 'base.html' %}
{% load static%}
{% load humanize %}
{% block title %}
    categoroies
{% endblock %}


{% block css %}

<title>صفحه اصلی</title>


<link rel="stylesheet" href="{% static 'Category/css/home.css'%}">


{% endblock %}

{% block body %}


<div onload="" class="container-fluid animate__animated animate__fadeInTopLeft">
    <div class="row bg-secondary py-2 px-xl-5">
        <div class="col-lg-6 d-none d-lg-block">
            <div class="d-inline-flex align-items-center">
                <a class="text-dark" href="{% url 'Accounts:quastion'%}">سوالات</a>

                <span class="text-muted px-2">|</span>
                <a class="text-dark" href="{%url 'Accounts:contact'%}">پشتیبانی</a>
            </div>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">

                <a class="text-dark px-2" href="https://instagram.com/mahdi_tabatabaee_" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="text-dark px-2" href="https://telegram.org/mahdi_tabatabaee_" target="_blank">
                    <i class="fab fa-telegram"></i>
                </a>
                <a class="text-dark pl-2" href="https://whatsapp.com/mahdi_tabatabaee_" target="_blank">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
        </div>
    </div>
</div>
    <div id="box-top-sec" class="row align-items-center py-3 px-xl-5 mx-auto  box-top-sec">
        <div class="col-lg-3 d-none d-lg-block">
            <a href="{%url 'Accounts:contact'%}" class="text-decoration-none">
                <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">P</span>beauty-pranc</h1>
            </a>
        </div>
        <div class="col-lg-6 col-6 text-left">
            <form method="GET" action="">
                <div class="input-group">
                    <input style="border-radius: 25px;" value="{{text_search}}" type="text" class="form-control" dir="rtl" name="search" id="search" placeholder="جستجو(نام)">
                    <div onclick="search_click()" class="input-group-append">

                        <button type="button" style="height: 100%;  border: none;" class="input-group-text text-danger bg-transparent">

                            <i  class="fa fa-search"></i>

                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-6 text-right">
            <a href="{% url 'Category:like'%}" class="btn">
                <i id="like_icon" class="fas fa-heart {%if all_like_me_count != 0 %}text-danger{% endif %}"></i>
                <span id="len_like" class="badge">{{all_like_me_count}}</span>
            </a>
            <a href="{% url 'Orders:cart_view'%}" class="btn ">
                <i id="shop_icon" class="fas fa-shopping-cart {%if len_cart != 0 %}text-danger{% endif %}"></i>
                <span id="len_cart" class="badge">{{len_cart}}</span>
            </a>
        </div>
    </div>

<!-- Topbar End -->


<!-- Navbar Start -->
<div id="sec_category" class="container-fluid mb-5 animate__animated animate__fadeInTopLeft">
    <div class="row  px-xl-5">

        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                <a  onclick="show_div_hidden()" class="text-decoration-none d-block d-lg-none ">
                    <h3   class="ml-1 mt-1 display-5"><span class="text-primary font-weight-bold  px-3 mr-1 fa fa-chevron-right"></span>منو</h3>

                </a>

                <button dir="rtl"  style="border: none; outline:none;" type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <h3  class="ml-1 mt-1 display-5"><span class="text-primary font-weight-bold  px-3 mr-1 fa fa-chevron-down"></span>فهرست</h3>
                </button>
                <div class="collapse navbar-collapse justify-content-between text-right" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">

                        {% if user.is_authenticated %}
                        <a href="{% url 'Accounts:logout' %}" class="nav-item nav-link ">خروج</a>
                        {% else %}
                        <a href="{% url 'Accounts:login_register' %}" class="nav-item nav-link ">ثبت نام و ورود </a>
                       {% endif %}


                    </div>
                    <div dir="rtl" class="navbar-nav ml-auto py-0">
                        <a href="index.html" class="nav-item nav-link active">صفحه اصلی</a>
                        <a href="{% url 'Category:shop'%}" class="nav-item nav-link">فروشگاه</a>
                        <a href="{% url 'Category:type_product'%}" class="nav-item nav-link">دسته بندی جزیی</a>
                        <!-- <a href="{% url 'Category:type_product'%}" class="nav-item nav-link">پکیج ها</a> -->

                        <div class="nav-item dropdown">
                            <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">پروفایل</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="{% url 'Orders:cart_view' %}" class="dropdown-item">کارت شما</a>
                                <a href="{% url 'Orders:checkout'%}" class="dropdown-item">فاکتور</a>
                                <a href="{% url 'Accounts:profile'%}" class="dropdown-item"> پروفایل</a>
                            </div>
                        </div>
                        <a href="{%url 'Accounts:contact'%}" class="nav-item nav-link">تماس با ما</a>
                        <a href="{% url 'Accounts:quastion'%}" class="nav-item nav-link">سوالات متداول  </a>

                        {% if request.user.is_admin %}
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">سبدها</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="{% url 'Orders:orders' %}" class="dropdown-item">در حال انتظار</a>
                                <a href="{% url 'Orders:orders'%}" class="dropdown-item">تایید شده</a>


                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">افزودن</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="{% url 'Category:add_slide'%}" class="dropdown-item">افزودن اسلایدر</a>
                                <a href="{% url 'Category:add_product'%}" class="dropdown-item"> افزودن کالا</a>
                                <a href="{% url 'Accounts:answer'%}" class="dropdown-item"> افزودن پاسخ</a>

                            </div>
                        </div>



                        {% endif %}

                    </div>

                </div>
            </nav>
            <div id="header-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner slide-img">
                {% for slide in slids_images %}
                    {% if forloop.first %}
                    <div class="carousel-item active" style="height: 410px;">
                        <img class="img-fluid" src="{{slide.image.url}}" alt="Image">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h4 class="text-light text-uppercase font-weight-medium mb-3">{{slide.des}}</h4>
                                <h3 class="display-4 text-white font-weight-semi-bold mb-4">{{slide.title}}</h3>
                                <a href="{{slide.url}}" class="btn btn-light py-2 px-3">بازدید</a>
                                {% if request.user.is_admin %}
                                <i onclick="setting_slid(this)" data-id="{{slide.id}}" class="fa fa-list" style="position: absolute;top: 10px;left: 50%;" aria-hidden="true"></i>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% else %}

                    <div class="carousel-item" style="height: 410px;">
                        <img class="img-fluid" src="{{slide.image.url}}" alt="Image">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h4 class="text-light text-uppercase font-weight-medium mb-3">{{slide.des}}</h4>
                                <h3 class="display-4 text-white font-weight-semi-bold mb-4">{{slide.title}}</h3>
                                <a href="{{slide.url}}" class="btn btn-light py-2 px-3"> بازدید</a>
                                {% if request.user.is_admin %}
                                <i class="fa fa-list" onclick="setting_slid(this)" data-id="{{slide.id}}" style="position: absolute;top: 10px;left: 50%; cursor: help; z-index: 20;" aria-hidden="true"></i>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>
                <a style="z-index: 5;" class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                    <div class="btn btn-dark" style="width: 45px; height: 45px;">
                        <span class="carousel-control-prev-icon mb-n2"></span>
                    </div>
                </a>
                <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                    <div class="btn btn-dark" style="width: 45px; height: 45px;">
                        <span class="carousel-control-next-icon mb-n2"></span>
                    </div>
                </a>
            </div>
        </div>
        <a name="category"></a>
        <div dir="rtl" class="col-lg-3 d-lg-block">
            <a  class="btn shadow-none d-flex align-items-center bg-secondary justify-content-between text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px; border-radius: 25px;">
                <h3 class="m-0">محصولات</h3>
                <i class="fa fa-angle-down text-dark"></i>
            </a>
            <nav  class="collapse show navbar navbar-vertical navbar-light  align-items-center p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                <div class="navbar-nav w-100 overflow-hidden bg-secondary"style="border-radius: 20px;" >
                    {% for category in categories %}

                    <div  style="text-align: start; display: flex; justify-content: space-between;" class="nav-item dropdown">
                        <a  style="width: 100%;" href="{{category.get_absoulut_url}}"  dir="rtl" data-id="{{category.id}}" onclick="cat_change(this)" data-name="{{category.name}}" class="nav-link" >{{category.name}}

                        </a>
                        <a style="font-size: 20px;top: 5px;position: relative;left: 10px;" data-toggle="dropdown"  class="fa fa-angle-down float-left mt-1"></a>

                        <div  dis style=" text-align: right;" dir="rtl" class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                            {% for type in category.type_to_category.all %}
                            <a href="{{type.get_absoulut_url}}" class="dropdown-item">{{type.name}} </a>
                            {% endfor %}
                        </div>

                    </div>
                {% endfor %}

                </div>
            </nav>

        </div>

    </div>

</div>
<div  id="kesho" class="kesho" ><p onclick="hiden_kesho()">close</p></div>

<!-- Navbar End -->


<!-- Categories Start -->
<div id="div_product_sec"  class="container-fluid pt-5 animate__animated animate__fadeInLeft bg-secondary">
    <div class="row px-xl-5 pb-3">

        {% for category in categories %}
        <div dir="" class="col-lg-4 col-md-6  pb-1 animate__animated animate__fadeInTopLef ">
            <div class="cat-item d-flex  flex-column border mb-4">
                <p class="text-right"></p>
                <a  onclick="category_search(this)" data-slug="{{category.slug}}" data-name="{{category.name}}" class="cat-img position-relative overflow-hidden mb-3 show-product">
                    <img class="img-fluid" src="{{category.img.url}}" alt="">
                </a>

                <h5  class="text-center font-weight-semi-bold m-0">{{category.name}}</h5>
            </div>
        </div>
        {% endfor %}



    </div>
</div>
<!-- Categories End -->


<!-- Offer Start -->
<div id="div_off_price" class="container-fluid offer pt-5 remove">
    <div class="row px-xl-5">
        {% for off_product in hot_off_product %}
        <div class="col-md-6  pb-4">
            <div class="position-relative bg-secondary text-right text-md-right text-white mb-2 py-5 px-5" >
                <img style="bottom: 15px; left:20px;" src="{{off_product.img.url}}" alt="">
                <div class="position-relative" style="z-index: 1; left: 35px;">
                    <h5 dir="rtl" class="text-uppercase text-primary mb-3">{{off_product}} درصد تخفیف</h5>
                    <h1 class="mb-4 font-weight-semi-bold">{{off_product.name}}</h1>
                    <a href="" class="btn btn-outline-primary py-md-2 px-md-3">خرید</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
<!-- Offer End -->


<!-- Products Start -->
<a name=""></a>
<div class="container-fluid pt-5 products" >
    <div class="text-center mb-4 ">
        <h2 style=""  class=" px-5 "><span id="title_product"  class="px-2">مورد پسند بیشتر</span></h2>
    </div>

    <div id="product" style="z-index: 1; margin-top: 10px;" class="row px-xl-5 pb-3">

    {% for product in most_like_product %}

        <div class="col-lg-3 col-md-6 col-sm-6 col-sx-6 pb-1 ">
            <div class="card product-item  mb-4 item">
                <div class="card-header product-img p-2 position-relative overflow-hidden bg-transparent">
                {% for img in product.image_to_product.all %}
                    {% if forloop.first %}
                    <a href="{{product.get_absoulut_url}}">
                        <img class="img-fluid w-100" src="{{img.image.url}}" alt="">
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">{{product.name}}</h6>
                    <div class="d-flex justify-content-center">

                            {% if product.special %}
                            <h6>{{product.off_price}}</h6><h6 class="text-muted ml-2"></h6>
                            <del>{{product.all_price}}</del>
                            {% else %}
                            <h6>{{product.all_price}}</h6><h6 class="text-muted ml-2"></h6>
                            {% endif %}


                        </h6>
                    </div>
                </div>
                <div class="card-footer card-btn d-flex justify-content-between bg-light border">
                    <a href="{{product.get_absoulut_url}}" class="btn btn-sm text-dark p-0 "><i class="fas fa-eye text-primary mr-1"></i>جزییات</a>
                   <i style="cursor: pointer;" onclick="like_product(this,'home')" data-id_product="{{product.id}}" data-status="{% if request.user in product.like.all %}dislike{% else %}like{% endif %}"
                    class="fas fa-heart {% if request.user in product.like.all %}text-danger{% endif %}  ml-4"><a class="ml-2" id="likecounter{{product.id}}">{{product.like.count}}</a></i>

                    <a onclick="add_product(this,'home')" data-id="{{product.id}}" data-status="{% if product.id in buys %}sell{% else %}buy{% endif %}"  class="btn btn-sm {% if product.id in buys %}text-danger{% endif %} p-0"><i class="fas fa-shopping-cart  mr-1"></i>افزودن به کارت</a>
                </div>
            </div>
        </div>
        {% endfor %}


    </div>
</div>
<!-- Products End -->


<!-- Subscribe Start -->
<div id="div_nazarsangi" class="container-fluid bg-secondary my-5 remove mx-auto">
    <div class="row justify-content-md-center py-5 px-xl-5 box-nazar-site">
        <div class="col-md-6 col-12 py-5 body">
            <div class="text-center mb-2 pb-2">
                <h2 class="section-title px-5 mb-3"><span class="bg-secondary px-2" dir="rtl">بروز باشیم!</span></h2>
                <p>ما اماده هر گونه تغییر در رابطه با خدمات خود میباشیم لطفا نظر خود را در مورد خدمات ما ارسال کنید. ما آماده شنیدن انتقاد و پیشنهادات شما هستیم</p>
            </div>
            <form class="frm-nazar-site" action="">
                <div class="input-group">
                    <input type="text" class="form-control text-right border-white p-4" placeholder="نظر شما">
                    <div class="input-group-append btn">
                        <a onclick="comment_for_site()" class="btn btn-primary px-4">ارسال</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Subscribe End -->


<!-- Products Start -->
<div id="div_special_product" class="products container-fluid pt-5 remove b">

    <div class="text-center mb-4">
        <h2 class=" px-5"><span id="title_product" class="px-2">پیشنهاد شگفت انگیز</span></h2>
    </div>
    <div  class="row px-xl-5 pb-3">
        {% for product in off_product %}
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item  mb-4 item">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent  p-2">
                    {% for img in product.image_to_product.all %}
                    {% if forloop.first %}
                    <img class="img-fluid w-100" src="{{img.image.url}}" alt="">
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">{{product.name}}</h6>
                    <div class="d-flex justify-content-center">
                        <h6>{{product.off_price}}</h6><h6 class="text-muted ml-2"><del>{{product.all_price}}</del></h6>
                    </div>
                </div>
                <div class="card-footer card-btn d-flex justify-content-between bg-light border">
                    <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>جزییات</a>
                    <i style="cursor: pointer;" onclick="like_product(this,'home')" data-id_product="{{product.id}}" data-status="{% if request.user in product.like.all %}dislike{% else %}like{% endif %}"
                    class="fas fa-heart {% if request.user in product.like.all %}text-danger{% endif %}  ml-4"><a class="ml-2" id="likecounter{{product.id}}">{{product.like.count}}</a></i>

                    <a onclick="add_product(this)" data-id="{{product.id}}" data-status="{% if product.id in buys %}sell{% else %}buy{% endif %}"  class="btn btn-sm {% if product.id in buys %}text-danger{% endif %} p-0"><i class="fas fa-shopping-cart  mr-1"></i>افزودن به کارت</a>
                </div>
            </div>

        </div>
        {% endfor %}


    </div>
</div>
<!-- Featured Start -->
<div id="div_des_site" style="" dir="rtl" class="container-fluid pt-5 remove bg-secondary mx-auto animate__animated animate__fadeInTopLef">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-12 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-2">بهترین کیفیت</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-2"> ارسال سریع</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-2">بازگشت کالا در صورت عدم رضایت</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-2">پشتیبانی  سریع</h5>
            </div>
        </div>
    </div>
</div>
<!-- Featured End -->
<!-- Products End -->


<!-- Vendor Start -->
<!-- <div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
        {% for product in all_product %}

                <div class="vendor-item border p-4">
                    <img src="img/vendor-8.jpg" alt="">
                </div>
        {% endfor %}

            </div>
        </div>
    </div>
</div> -->
<!-- Vendor End -->


<!-- Footer Start -->


<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
<a onclick="alert('پیام رسان بزودی فعال میشود')" style="position: fixed; bottom: 30px; left: 20px;" class=""><i style="font-size: 40px;" class="fas fa-comments"></i></a>



<script src="{% static 'base/js/site/jquery.js' %}"></script>

<script src="{% static 'Category/js/main.js'%}"></script>
<script src="{% static 'Category/js/home.js'%}"></script>

{% endblock %}