






{% extends 'base.html' %}
{% load extra_tags %}

{% load static%}

{% load humanize %}
{% block title %}
    categoroies
{% endblock %}



{% block css %}

<meta charset="utf-8">
<title>EShopper - Bootstrap Shop Template</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="Free HTML Templates" name="keywords">
<meta content="Free HTML Templates" name="description">

<!-- Favicon -->

<link href="img/favicon.ico" rel="icon">


{% endblock %}
  
{% block body %}

<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>



<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-12">
            <!-- Price Start -->
            <div class="border-bottom mb-4 pb-4">
                <h5 style="display: inline-block;" class="font-weight-semi-bold mb-4">فیلتر بر اساس برند</h5>
                <i id="open-filter" onclick="show_filter(this,'price_type')" class="fa fa-minus" style="display: inline;"></i>
                <form style="color: black; font-size: 20px;" id="price_type" class="animate__animated animate__flipInX" >
                   
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input onchange="change(this,1)" name="price" type="checkbox" class="custom-control-input" id="price-1">
                        <label class="custom-control-label" for="price-1">0 - 20,000</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input onchange="change(this,2)" name="price" type="checkbox" class="custom-control-input" id="price-2">
                        <label class="custom-control-label" for="price-2">20,000 - 50,000</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input onchange="change(this,3)" name="price" type="checkbox" class="custom-control-input" id="price-3">
                        <label class="custom-control-label" for="price-3">50,000 - 80,000</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input onchange="change(this,4)" name="price" type="checkbox" class="custom-control-input" id="price-4">
                        <label class="custom-control-label" for="price-4">80,000 -></label>
                    </div>
                    
                </form>
            </div>
            <!-- Price End -->
            
            <!-- Color Start -->
            <div class="border-bottom mb-4 pb-4">
                <h5 style="display: inline-block;" class="font-weight-semi-bold mb-4">فیلتر بر اساس برند</h5>
                <i id="open-filter" onclick="show_filter(this,'brand_type')" class="fa fa-minus" style="display: inline;"></i>
                <form style="color: black; font-size: 20px;" id="brand_type" class="animate__animated animate__flipInX" >
                    
                   {% for brand in brands %}
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                        <input data-id="{{brand.id}}" name="brand" onchange="brand_change(this)" type="checkbox" class="custom-control-input" id="color-{{brand.id}}">
                        <label class="custom-control-label" for="color-{{brand.id}}">{{brand.name}}</label>
                    </div>
                    {% endfor %}
                </form>
            </div>
            <div class="border-bottom mb-4 pb-4">
                <h5 style="display: inline-block;" class="font-weight-semi-bold mb-4">فیلتر بر اساس نوع کالا</h5>
                <i id="open-filter" onclick="show_filter(this,'cat_type')" class="fa fa-minus" style="display: inline;"></i>
                <form style="color: black; font-size: 20px;" id="cat_type" class="animate__animated animate__flipInX">
                    
                   {% for cat in categories %}
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between ">
                        <input data-id="{{cat.id}}" name="brand" onchange="cat_change(this)" type="checkbox" class="custom-control-input" id="color-cat-{{cat.id}}">
                        <label class="custom-control-label" for="color-cat-{{cat.id}}">{{cat.name}}</label>
                    </div>
                    {% endfor %}
                </form>
            </div>
            <!-- Color End -->

            <!-- Size Start -->
            
            <!-- Size End -->
        </div>
        <!-- Shop Sidebar End -->


        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-12" id="scroll">
          <a name="top" ></a>
            <div id="product" style="margin-top: 30px;" class="row pb-3">
              
                {% for product in products %}
                <div class="m-3 col-lg-3 mx-auto">
                    <div style="width: 100%; height: 400px;" class="card product-item  mb-4 item">
                        <div class="card-header product-img  position-relative overflow-hidden bg-transparent">
                        {% for img in product.image_to_product.all %}
                            {% if forloop.first %}
                            <a href="{{product.get_absoulut_url}}">
                                <img class="img-fluid w-100" style="height: 100%;" src="{{img.image.url}}" alt="">
                            </a>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-5">
                            <h6 class="text-truncate pb-2">{{product.name}}</h6>
                            <div class="d-flex justify-content-center">
                                
                                    {% if product.special %}
                                    <h6>{{product.off_price|intcomma|persianize_digits}}</h6><h6 class="text-muted ml-2"></h6>
                                    <del>{{product.all_price|intcomma|persianize_digits}}</del>
                                    {% else %}
                                    <h6>{{product.all_price}}</h6><h6 class="text-muted ml-2"></h6>
                                    {% endif %}
        
        
                                </h6>
                            </div>
                        </div>
                        <div class="card-footer card-btn d-flex justify-content-between bg-light border">
                            <a href="{{product.get_absoulut_url}}" class="btn btn-sm text-dark p-0 "><i class="fas fa-eye text-primary mr-1"></i>جزییات</a>
                           <i style="cursor: pointer; margin-right:25px;" onclick="like_product(this,'home')" data-id_product="{{product.id}}" data-status="{% if request.user in product.like.all %}dislike{% else %}like{% endif %}"
                            class="fas fa-heart {% if request.user in product.like.all %}text-danger{% endif %}  ml-4"><a class="ml-2" id="likecounter{{product.id}}"></a></i>
                           
                            <a onclick="add_product(this,'home')" data-id="{{product.id}}" data-status="{% if product.id in buys %}sell{% else %}buy{% endif %}"  class="btn btn-sm {% if product.id in buys %}text-danger{% endif %} p-0"><i class="fas fa-shopping-cart  mr-1"></i> </a>
                        </div>
                    </div>
                </div>
                    {% endfor %}
              
   <div class="col-12 pb-1 text-center">
        
        

    <nav style="display: inline-block;box-shadow: none;" aria-label="Page navigation example">
        <ul class="pagination">
            {% if products.has_previous %}
          <li class="page-item p-2"><a class="page-link" onclick="page_click(this)" data-num="1">اول</a></li>

          <li class="page-item p-2"><a class="page-link" onclick="page_click(this)" data-num="{{ products.previous_page_number }}">{{ products.previous_page_number|persianize_digits  }}</a></li>
          {% endif %}
         
          <li class="page-item p-2 {% if p == p %} active {% endif %} "><a class="page-link " data-num="{{p}}" onclick="page_click(this)">{{p|persianize_digits }}</a></li>
          {% if products.has_next %}
          <li class="page-item p-2"><a class="page-link"  data-num="{{ products.next_page_number }}" onclick="page_click(this)">{{ products.next_page_number|persianize_digits }}</a></li>
            {% for num in products.paginator %}
                {% if forloop.last %}
                    <li class="page-item p-2"><a class="page-link"  data-num="{{num.number}}" onclick="page_click(this)">آخر</a></li>

                {% endif%}
            {% endfor %}

          {% endif %}
         
         
       
        </ul>
      </nav>
</div>
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>







<script src="{% static 'Category/js/main.js'%}"></script>
<script src="{% static 'Category/js/shop.js' %}"></script>




{% endblock %}











































