

  {% extends 'base.html'%}
{% load static %}
{% block css %}{% endblock %}

{% block body %}


    <title>login</title>
    <link rel="stylesheet" href="{% static 'Accounts/css/login.css'%}">


</head>
<body>
    <div style="height: 550px;" class="box" id="box_form" >
        <span class="borderLiner"></span>
        <form  method="post"  class="animate__animated animate__fadeInDown" action="">
            <h2>تغییر رمز عبور</h2>
            <div class="inputBox">
                <input onkeyup="txt_change(this,'password')" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" required="lll">
                <!-- به دلیل برابر بودن ای دی ایمپوت پسور ای دی این تگ ایجور شده برای هماهنگی با صفحه تغییر رمز عبور -->
                <span> رمز عبور جدید</span>
                <i></i>
            </div>
            <span class="warning"  dir="rtl" style="text-align: right; font-size: 16px; margin-top: 10px; color: aliceblue;" class="helptext"><ul><li>پسورد نباید مشابه اطلاعات باشد</li><li>رمز عبور میباست بیشتر از 8 کارکتر باشد</li><li>پسورد می بایست متشکل از حرف و اعداد باشد </li></ul></span>

            <div class="inputBox">
                <input onkeyup="txt_change(this,'repassword')"  type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2"   required=""  >
                <span>تایید رمز عبور</span>
                <i></i>
            </div>
      
            <input  type="submit" value="تایید">
            {% csrf_token %}
        </form>
      
    </div> 
    
    
    <script src="{% static 'Accounts/js/login.js'%}"></script>
    
{% endblock %}