
{% extends 'base.html'%}
{% load static %}
{% block css %}{% endblock %}

{% block body %}


    <title>login</title>
    <link rel="stylesheet" href="{% static 'Accounts/css/login.css'%}">


</head>
<body>
    <div  class="box" id="box_form" >
        <span class="borderLiner"></span>
        <form method="post"  id="frm_login" class="animate__animated animate__fadeInDown" action="">
            <h2 style="margin-top:auto ; margin-bottom: auto;">رمز عبور با موفقیت تغییر یافت</h2>
           
            
        </form>
      
    </div> 
    
    
    <script src="{% static 'Accounts/js/login.js'%}"></script>
    
{% endblock %}





