{% extends 'base.html' %}
{% load static%}

{% load humanize %}
{% block title %}
    categoroies
{% endblock %}



{% block css %}
<meta charset="utf-8">
<title>فاکتور شما</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="Free HTML Templates" name="keywords">
<meta content="Free HTML Templates" name="description">

<link href="{%  static 'Orders/css/checkout.css'%}" rel="stylesheet">



{% endblock %}
  
{% block body %}





   



    <!-- Checkout Start -->
    <!-- PRINT STARTS HERE -->
    <div  class="container-fluid pt-5">
        <div class="row px-xl-5 " style="z-index: 1;top: 50px;position: relative; margin-bottom: 100px;">
            <div style="" class="col-lg-8 tbl-information mx-auto">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4 text-right">مشخصات</h4>
                    <form action="{% url 'Orders:pay_order' %}" id="form_information" dir="rtl" class="row" method="post" hv>
                        <div class="col-md-6 form-group text-right">
                            <label>نام و نام خانوادگی</label>
                            <input autocomplete="off" onkeyup="change_txt(this,'name')" name="name" onchange="change_txt(this,'name')"  value="{{user.name}} {{user.family}}"  id="txt_name" class="form-control information" type="text" placeholder="علی">
                            <label style="transition: 1s;" hidden id="help_txt_name"></label>
                            
                        </div>
                       
                        <div class="col-md-6 form-group text-right">
                            <label>ایمیل (اختیازی)</label>
                            <input autocomplete="off" onkeyup="change_txt(this,'email')" name="email" value="{{user.email}}" onchange="change_txt(this,'email')" id="txt_email"  class="form-control information" type="email" placeholder="example@email.com">
                        </div>
                        <div class="col-md-6 form-group text-right">
                            <label>شماره تماس</label>
                            <input autocomplete="off" onkeyup="change_txt(this,'phone')" name="phone" value="{{user.phone}}" onchange="change_txt(this,'phone')" id="txt_phone" class="form-control information" type="text" placeholder="+98 912-1234567">
                        </div>
                        <div class="col-md-6 form-group text-right">
                            <label>استان</label>
                            <input autocomplete="off" onchange="change_txt(this,'ostan')"  onkeyup="change_txt(this,'ostan')" name="ostan" class="form-control information " id="txt_ostan" type="text" placeholder="تهران ">
                        </div>
                        <div class="col-md-6 form-group text-right">
                            <label>شهرستان</label>
                            <input autocomplete="off" onchange="change_txt(this,'city')" onkeyup="change_txt(this,'city')" id="txt_city" name="city" class="form-control information" type="text" placeholder=" تعران">
                        </div>
                        <div class="col-md-6 form-group text-right">
                            <label>کد پستی</label>
                            <input autocomplete="off" id="txt_codeposty"  onkeyup="change_txt(this,'codeposty')" onchange="change_txt(this,'codeposty')" class="form-control information" name="codeposty" type="text" placeholder="">
                        </div>
                        <div class="col-md-6 form-group text-right">
                            <label>ادرس</label>
                            <textarea  onchange="change_txt(this,'address')"  id="txt_address" name="address" class="form-control information" type="text" placeholder="">{{user.address}}</textarea>
                        </div>
                    {% csrf_token %}
                    
                    </form>
                </div>
              
            </div>

            <div class="col-lg-4">
                
                <div dir="rtl" class="card border-secondary mb-5" style="height: 400px;overflow-y: auto;">
                    <div class="card-header bg-secondary border-0" style="border-radius: 25px;  ">
                        <h4 class="font-weight-semi-bold m-0 text-center" >سبد شما </h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3 text-right">محصولات</h5>


                    {% for item in cart %}
                        <div class="d-flex justify-content-between">
                            <p style="width: 30%; text-align:right ;">{{item.product.name}}</p>
                            <p style="width: 20%; text-align:right ;">{{item.price|intcomma:False}}</p>
                            <p style="width: 20%; text-align:center ;" >{{item.number}}</p>

                            <p style="width: 30%; text-align:left ;">{{item.total|intcomma:False}}</p>



                        </div>
                        {% endfor %}
                       
                        <hr class="mt-0">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">هزینه کل</h6>
                            <h6 class="font-weight-medium">{{order_price|intcomma:False}}</h6>
                        </div>
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">هزینه کل با تخفیف</h6>
                            <h6 class="font-weight-medium">{{order_price_with_off|intcomma:False}}</h6>
                        </div>
                        {% if pay_type != 'pay_person' %}
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">هزینه ارسال</h6>
                            <h6 class="font-weight-medium">{{post_price|intcomma:False}}</h6>
                        </div>
                        {% endif %}
                        <div class="card-footer border-secondary bg-transparent">
                            <div class="d-flex justify-content-between mt-2">
                                <h5 class="font-weight-bold">مبلغ قابل پرداخت</h5>
                                <h5 class="font-weight-bold">{{get_order_price_with_post_price|intcomma:False}}</h5>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- PRINT ENDS HERE -->
               
                <a onclick="printer()" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3 btn-pay">چاپ فاکتور </a>
                {% if pay_type == 'pay_home' %}
                <a onclick="order_click()" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3 btn-pay">ثبت سفارش</a>
                
                {% else %}
                <a onclick="order_click()" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3 btn-pay">پرداخت</a>
                {% endif %}
            </div>
           
        </div>

    </div>

    <a href="" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


<script src="{% static 'Orders/js/chechout.js'%}"></script>
{% endblock %}





















