{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'Accounts/css/login_register.css'%}" >
   
{% endblock %}
{% block title %}
    صفحه ورود
{% endblock %}
{% block body %}








<div id="main" class="main" style="top: 100px; position: relative; margin-bottom: 150px;" >  	
    <input type="checkbox" id="chk" aria-hidden="true" >
    
        <div class="signup">
            <form id="form_register">
                <label class="text-danger" for="chk" aria-hidden="true"> ثبت نام</label>
                <input class="form-control user-information" onkeyup="txt_change(this,'username')" type="text" name="username" placeholder="نام کاربری" required="">
                {% csrf_token %}
                <input class="form-control user-information" type="email" name="email" onkeyup="txt_change(this,'email')" placeholder="ایمیل" required="">
                <input class="form-control user-information" type="text" name="phone" onkeyup="txt_change(this,'phone')" placeholder="شماره موبایل" required="">
                <input type="password" id="password" class="form-control user-information" name="password" onkeyup="txt_change(this,'password')" placeholder="رمز عبور" required="">
                <input type="password" class="form-control user-information" name="repassword" placeholder="رمز عبور" onkeyup="txt_change(this,'repassword')" required="">
             
                <a onclick="register_click(this)" class="btn btn-primary" >ثبت نام </a>
            </form>
        </div>

        <div id="login" class="login">
            <form id="form_login">
                <label for="chk" aria-hidden="true">ورود</label>
                <input id="txt_email" type="email" name="email" placeholder="ابمیل" required="">
                <input id="txt_password" type="password" name="" placeholder="رمز عبور" required="">
                <h5>رمز عبور را فراموش کرده ام؟<a href="{% url 'Accounts:passwordreset'%}">بازیابی رمز </a></h5>
                <p class="input" onclick="login_click(this)">ورود</p>
            </form>
        </div>
</div>
{% endblock %}

{% block script %}




<script  src="{% static 'Accounts/js/login_register.js'%}"></script>




{% endblock %}

