



		<form  id="frm_login" class="animate__animated animate__fadeInDown" action="">
            <h2>ثبت کد</h2>
            <div class="inputBox">
                <input id="txt_otpcode" type="text" required>
                <span>کد </span>
                <i></i>
            </div>
          
            <div class="links">
                <a href="{% url 'Accounts:passwordreset'%}">  ارسال مجدد</a>
                
    
            </div>

            <input onclick="otpcode_btn_click(this)" type="button" value="ورود">
            
        </form>
    </form>
</div>

