{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'Accounts/css/login_register.css'%}" >
   
{% endblock %}
{% block title %}
    صفحه ورود
{% endblock %}
{% block body %}

<div id="main" class="main animate__animated animate__fadeInDown" style="height: 650px; top: 80px; margin-bottom: 130px;">  	

        <div class="signup">
            <form method="post" enctype="multipart/form-data" action="" id="form_register">
                <label class="text-primary" for="chk" aria-hidden="true"> پروفایل</label>
                <input  type="text" value="{{user.name}}{{user.family}}" class="form-control user-information " onkeyup="change_txt(this,'name')" name="name" placeholder="نام" required="">
                <input onchange="txt_change(this,'username')" onkeyup="txt_change(this,'username')" class="form-control user-information" type="text" value="{{user.username}}" name="username" placeholder="نام کاربری  " required="">
                {% csrf_token %}

                <input  type="email" onkeyup="txt_change(this,'email')" class="form-control user-information" name="email" value="{{user.email}}" placeholder="ایمیل" required="">
                <input onkeyup="txt_change(this,'phone')" class="form-control user-information" onchange="txt_change(this,'phone')" type="text" value="{{user.phone}}" name="phone" placeholder="شماره موبایل" required="">
                <textarea name="address" id="" cols="10" class="form-control user-information" style="height: 150px;" onchange="txt_change(this,'address')"  rows="10">{{user.address}} </textarea>
                <div class="img" >
                    <input name="img" onchange="change_profile()" type="file" id="change_img" class="form-control" value="" style="height: 50px;">
                    
                        <img  name="profile_img" id="profile_img1" src="{% if request.user.image  %} {{user.image.url}} {% endif %}" class="profile_img">

                   

                </div>
             
                <button type="submit" class="btn btn-primary " style="margin-top: 10px;" > تایید </button>
            </form>
        </div>

      
</div>

{% endblock %}

{% block script %}




<script  src="{% static 'Accounts/js/profile.js'%}"></script>




{% endblock %}

