{% load static %}
<link rel="stylesheet" href="{% static 'base/css/fother.css'%}">

<footer>
    <div class="row">
        <div class="col">
            <img src="{% static 'base/images/logo.png'%}" class="logo" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos rem consequuntur iure ullam deleniti beatae fugit delectus, nesciunt possimus officia animi voluptate, sit soluta quas, eius alias commodi? Modi, adipisci?</p>
        </div>
        <div class="col">
            <h3>office <div class="underline"><span></span></div></h3>
            <p>itpl road</p>
            <p>whitefiled, hasanabad</p>
            
            <p class="email">mahditaba2ee@gmail.com</p>
            <h4>09134303981</h4>

        </div>
        <div class="col">
            <h3>liks  <div class="underline"><span></span></div></h3>
            <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">login</a></li>
                <li><a href="#">search</a></li>
                <li><a href="#">about us</a></li>
                <li><a href="#">contes</a></li>




            </ul>
        </div>
        <div class="col">
            <h3>newsleter  <div class="underline"><span></span></div></h3>
            <form action="">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="email" placeholder="enter email" required>
                <button type="submit"><ion-icon name="send-outline"></ion-icon></button>
            </form>
            <div class="social-icons">
                <ion-icon name="logo-whatsapp"></ion-icon>
                <ion-icon name="logo-instagram"></ion-icon>
                <ion-icon name="call-outline"></ion-icon>
            </div>
        </div>

    </div>
    <hr>
    <p class="copyright">mt bulther</p>
</footer>